<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>随手工具</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>随手工具</h1>
            </div>
            <div class="col-sm-4">
                <form method="get" class="form-inline float-right">
                    <input type="checkbox" name="lock_search" value="true" {% if lock_search %}checked{% endif %}> 锁定搜索
                    <input type="text" name="search" value="{{ search_term }}" placeholder="搜索特征名称和特征描述">
                    <button type="submit" class="btn btn-primary">搜索</button>
                    <a href="/" class="btn btn-secondary">重置</a>
                </form>
            </div>
        </div>
        <table class="table table-bordered" style="width: 90%; margin: auto;">
            <thead>
                <tr>
                    {% for column_name in df.columns %}
                        <td>
                            <a href="?sort_column={{ column_name }}&sort_order_change=1" class="sort-link">
                                {{ column_name }} <i class="fas fa-sort{{ icon_status_dict[column_name] }}"></i>
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in df.itertuples() %}
                <tr>
                    <td>{{ row.feature_code }}</td>
                    <td>{{ row.feature_name }}</td>
                    <td>{{ row.feature_desc }}</td>
                    <td>{{ row.feature_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- 分页链接部分 -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // 更改排序图标
        const sortLinks = document.querySelectorAll('.sort-link');
        sortLinks.forEach(link => {
            link.addEventListener('click', function() {
                const icon = this.children[0];
                if (icon.classList.contains('fa-sort')) {
                    console.log('clicked')
                    icon.classList.remove('fa-sort');
                    icon.classList.add('fa-sort-up');
                } else if (icon.classList.contains('fa-sort-up')) {
                    icon.classList.remove('fa-sort-up');
                    icon.classList.add('fa-sort-down');
                } else if (icon.classList.contains('fa-sort-down')) {
                    icon.classList.remove('fa-sort-down');
                    icon.classList.add('fa-sort');
                }
            });
        });
    </script>
</body>
</html>
